﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/DashboardShared/_SharedAdmin.cshtml";
}

<div class="jumbotron mt-4">
    <h1 class="display-4">Hello, Admin!</h1>
    <p class="lead">Welcome to the Administration Dashboard for BidMee Application.......</p>
    <hr class="my-4">
    <p>Feel Comfortable and best of luck for management!</p>
</div>