﻿@{
    ViewBag.Title = "Home Page";
}
@model BidMee.Web.ViewModels.HomeVM
@using BidMee.Data.Services
<div class="row">
    <div class="col-lg-12">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!--Auctions.................-->
        @if (Model.Auctions != null && Model != null && Model.Auctions.Count != 0)
        {
            <div class="row">
                @foreach (var auction in Model.Auctions)
                {
                 //   var auctionPicture = (auction.Pictures.First() != null) ? "/Content/Images/"+PictureServices.GetPictureServices().FindPicture(auction.Pictures.Select(p=>p.PictureID).First())+"" : "http://placehold.it/700x400";
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/Auctions/AuctionDetail/@auction.ID">@auction.Title</a>
                                </h4>
                                <h5>$@auction.ActualPrice</h5>
                                <p class="card-text">@auction.ShortDiscription</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                }
            </div>

        }
    </div>
    <!--Pager-->
    <div>
        @if (Model.pager != null && Model.pager.TotalPages > 1)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (Model.pager.CurrentPage > 1)
                    {
                        <li><a class="page-item page-link" data-pageno="1" href="#">First</a></li>
                        <li><a class="page-item page-link" data-pageno="@(Model.pager.CurrentPage - 1)" href="#"><</a></li>
                    }
                    @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
                    {
                        string activeClass = Model.pager.CurrentPage == page ? "active bg-warning" : string.Empty;
                        <li><a class="page-item page-link @activeClass" data-pageno="@page" href="#">@page</a></li>
                    }
                    @if (Model.pager.CurrentPage < Model.pager.TotalPages)
                    {
                        <li><a class="page-item page-link" data-pageno="@(Model.pager.CurrentPage + 1)" href="#">></a></li>
                        <li><a class="page-item page-link" data-pageno="@(Model.pager.EndPage)" href="#">Last</a></li>
                    }

                </ul>
            </nav>
        }
    </div>
</div>
<script>
    ////Pager...
    $(document).ready(function () {
        $(".page-item").click(function () {
		$.ajax({
			url: '@Url.Action("Index", "Home")',
			data: {
                pageNo : $(this).attr("data-pageno")
			}
		})
        .done(function (response) {
            $("#auctionTable").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});
    });
</script>