﻿
@model Catagory


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Catagory</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="addForm">
        <div class="form-group">
            <input type="text" class="form-control custom" name="Title" placeholder="Enter Title" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveCatagorybtn">Save</button>
</div>

<script>
    ////Posting Form
    $("#saveCatagorybtn").click(function () {
        $('#exampleModal').modal('hide');
        $.ajax({
            url: "/Catagory/AddCatagory",
            type: "Post",
            data: $("#addForm").serialize(),
            success: function (response) {
                $("#CatagoryTable").html(response);
                $(".content-body-modal").html('');
            }
        });
    });
</script>
<style>
    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }

    .hidden {
        display: none;
    }
</style>