﻿@using BidMee.Entities
@model IList<BidMee.Entities.Catagory>
<div>
    <h2 style="margin:auto">
        Catagories
    </h2>
    <hr />
</div>
<div class="container">
    <div class="box">
        <div class="form-group search-box">
            <div class="input-group">   
                <div class="input-group-append">
                    <button id="addCatagorybtn" class="btn btn-primary" data-target="#exampleModal"><i class="fas fa-plus"></i>Add Catagory</button>
                </div>
            </div>
        </div>
    </div>


    @if (Model != null)
    {
        <table class="table table-light">
            <thead class="thead-success">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in Model)
                {
                    <tr>
                        <td>@cat.ID</td>
                        <td>@cat.Title</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-primary editCatagorybtn" data-ID="@cat.ID">Edit</button>
                                <button class="btn btn-danger deleteCatagorybtn" data-ID="@cat.ID">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Pager -->
    }
</div>

<script>
    //Modal Add Button Functionality
    $(document).ready(function () {
        //Get
        $("#addCatagorybtn").click(function () {
            $.ajax({
                url: "/Catagory/AddCatagory",
                type: "Get",
                success: function (response) {
                    $('#exampleModal').modal('toggle')
                    $(".content-body-modal").html(response);
                }
            });
        });
    });
    ////Edit Through Modal
    ///////Edit
    $(document).ready(function () {
        $(".editCatagorybtn").click(function () {
            $.ajax({
                url: "/Catagory/EditCatagory",
                type: "Get",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $('#exampleModal').modal('toggle')
                    $(".content-body-modal").html(response);
                }
            });
        });
    });


    ///////Delete
    $(document).ready(function () {
        $(".deleteCatagorybtn").click(function () {
            $.ajax({
                url: "/Catagory/DeleteCatagory",
                type: "Post",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $("#auctionTable").html(response);
                }
            });
        });
    });
</script>
<style>
    .form-control {
        display: inline;
    }

    .search {
        width: auto;
    }

    .box {
        position: relative;
        height: 50px;
    }

    .search-box {
        position: absolute;
        right: 20px;
    }
</style>
