﻿@model Catagory
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit Catagory</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="editForm">
        <input type="hidden" readonly name="ID" value="@Model.ID" />
        <div class="form-group">
            <input type="text" class="form-control custom" name="Title" value="@Model.Title" placeholder="Enter Title" />
        </div>
    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveCatagorybtn">Save</button>
</div>
<script>
    $(document).ready(function () {
        //Post
        $("#saveCatagorybtn").click(function () {
            $('#exampleModal').modal('hide');
            $.ajax({
                url: "/Catagory/EditCatagory",
                type: "Post",
                data: $("#editForm").serialize(),
                success: function (response) {
                    $('#exampleModal').modal('hide');
                    $("#CatagoryTable").html(response);
                }
            });
        });
    });
</script>
<style>
    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }
</style>

