﻿
@{
    ViewBag.Title = "Catagories";
    Layout = "~/Views/DashboardShared/_SharedAdmin.cshtml";
}

<div id="CatagoryTable">
    @{ Html.RenderAction("CatagoryTable");}
</div>
<!--BootsrtapModal-->
<div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="content-body-modal">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="actionContent">

</div>

