﻿@model BidMee.Web.ViewModels.createAuctionVM


    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Auction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="addForm">
            <div class="form-group">
                <input type="text" class="form-control custom" name="Title" placeholder="Enter Title" />
            </div>
            <div class="form-group">
                <select class="form-control" name="CatagoryID">
                    <option selected>Choose Catagory</option>
                    @foreach (var v in Model.Catagories)
                    {
                        <option value="@v.ID">@v.Title</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control custom" name="ActualPrice" placeholder="Enter Price" />
            </div>
            <div class="form-group">
                <label style="display:block">Start Date {mm:dd:yyy:time}</label>
                <input type="date" class="form-control custom" name="StartDate" placeholder="Add Start Date" />
            </div>
            <div class="form-group">
                <label style="display:block">End Date {mm:dd:yyy:time}</label>
                <input type="date" class="form-control custom" name="EndDate" placeholder="Add End Date" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control custom" name="ShortDiscription" placeholder="Short Discription" />
            </div>
            <div class="form-group">
                <textarea name="LongDiscription" class="form-control custom" placeholder="Long Discription">
                Add Long Discription
                </textarea>
            </div>
            <div class="form-group">
                <input type="file" multiple id="auctionPictureUpload" />
                <input type="text" name="PicIDs" id="PicIDs" hidden />

            </div>
            <div id="picturesSection">
                <img class="hidden" />
            </div>
        </form>
        

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveAuctionbtn" >Save</button>
    </div>

<script>
    ////FileUplaod..
    var picIDs = [];
    $(document).ready(function () {
        $("#auctionPictureUpload").change(function () {
            var formdata = new FormData();
            var pictures = this.files;
            for (var i = 0; i < pictures.length; i++) {
                formdata.append("Picture", pictures[i]);
            }
            $.ajax({
                url: "/Shared/AddPictures",
                type: "Post",
                data: formdata,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (response) {
                    var picture = "";
                    
                    for (var i = 0; i < response.length; i++) {
                        picIDs.push(response[i].ID);
                        picture += "<img width='100px' height='80px' class='img-fluid picUpload' src='/Content/Images/" + response[i].URL + "' data-id='" + response[i].ID+"' /> ";
                        $("#picturesSection").html(picture); 
                    }
                    $("#PicIDs").val(picIDs.join(","));
                }
                
            }); 
        });
        
        $("img .picUpload").click(function () {
            var ID = $(this).attr("data-id");
            console.log(ID);
        });
    });
    ////Posting Form
    $("#saveAuctionbtn").click(function () {
        $('#exampleModal').modal('hide');
        $.ajax({
            url: "/Auctions/AddAuction",
            type: "Post",
            data: $("#addForm").serialize(),
            success: function (response) {
                $("#auctionTable").html(response);
                $(".content-body-modal").html('');
            }
        });
    });
</script>
<style>
    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }
    .hidden{
        display:none;
    }
</style>