﻿@model BidMee.Web.ViewModels.AuctionsVM
@using BidMee.Entities
<div>
    <h2 style="margin:auto">
        Auctions
    </h2>
    <hr/>
</div>
<div class="container">
    <div class="box">
        <div class="form-group search-box">
            <div class="input-group">
                <input type="text" id="searchtxt" value="@Model.searchTerm" class="form-control search" />
                <div class="input-group-append">
                    <button class="btn btn-success" id="searchtxtbtn" type="button"><i class="fas fa-search"></i>Search</button>
                    <a class="btn btn-danger" id="searchtxtbtn" href="/Auctions/Index"><i class="fas fa-trash"></i>Reset</a>
                    <button id="addAuctionbtn" class="btn btn-primary" data-target="#exampleModal"><i class="fas fa-plus"></i>Add Auction</button>
                </div>
   
            </div>
        </div>
        </div>


    @if (Model != null)
    {
        <table class="table table-light">
            <thead class="thead-success">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>short Discription</th>
                    <th>Actual Price</th>
                    <th>Start Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var auc in Model.auctions)
                {
                    <tr>
                        <td>@auc.ID</td>
                        <td>@auc.Title</td>
                        <td>@auc.ShortDiscription</td>
                        <td>@auc.ActualPrice</td>
                        <td>@auc.StartDate</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-primary editAuctionbtn" data-ID="@auc.ID">Edit</button>
                                <button class="btn btn-danger deleteAuctionbtn" data-ID="@auc.ID">Delete</button>
                            </div>                   
                        </td>


                    </tr>
                }
            </tbody>
        </table>
        <!-- Pager -->
        <div>
            @if (Model.pager != null && Model.pager.TotalPages > 1)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (Model.pager.CurrentPage > 1)
                        {
                            <li><a class="page-item page-link" data-pageno="1" href="#">First</a></li>
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.CurrentPage - 1)" href="#"><</a></li>
                        }
                        @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
                        {
                            string activeClass = Model.pager.CurrentPage == page ? "active bg-warning" : string.Empty;
                            <li><a class="page-item page-link @activeClass" data-pageno="@page" href="#">@page</a></li>
                        }
                        @if (Model.pager.CurrentPage < Model.pager.TotalPages)
                        {
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.CurrentPage + 1)" href="#">></a></li>
                            <li><a class="page-item page-link" data-pageno="@(Model.pager.EndPage)" href="#">Last</a></li>
                        }

                    </ul>
                </nav>
            }
        </div>
    }
</div>

<script>
    //Modal Add Button Functionality
    $(document).ready(function () {
        //Get
        $("#addAuctionbtn").click(function () {
            $.ajax({
                url: "/Auctions/AddAuction",
                type: "Get",
                success: function (response) {
                    $('#exampleModal').modal('toggle')
                    $(".content-body-modal").html(response);
                }
            });
        });
    });
    ////Edit Through Modal
    ///////Edit
    $(document).ready(function () {
        $(".editAuctionbtn").click(function () {
            $.ajax({
                url: "/Auctions/EditAuction",
                type: "Get",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $('#exampleModal').modal('toggle')
                    $(".content-body-modal").html(response);
                }
            });
        });
    });
    
    ////Pager...
    $(document).ready(function () {
        $(".page-item").click(function () {
		$.ajax({
			url: '@Url.Action("AuctionTable", "Auctions")',
			data: {
                pageNo: $(this).attr("data-pageno"),
                search: $("#searchtxt").val()
			}
		})
        .done(function (response) {
            $("#auctionTable").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});
    });
 

    ///////Delete
    $(document).ready(function () {
        $(".deleteAuctionbtn").click(function () {
            $.ajax({
                url: "/Auctions/DeleteAuction",
                type: "Post",
                data: { ID: $(this).attr("data-ID") },
                success: function (response) {
                    $("#auctionTable").html(response);
                }
            });
        });
    });
    //Search
    $(document).ready(function () {
        $("#searchtxtbtn").click(function () {
            $.ajax({
                url: "/Auctions/AuctionTable",
                type: "Post",
                data: { search: $("#searchtxt").val() },
                success: function (response) {
                    $("#auctionTable").html(response);
                }
            });
        });
    });
</script>
<style>
    .form-control {
        display: inline;
    }
    .search{
        width:auto;
    }
    .box{
        position:relative;
        height:50px;
    }
    .search-box{
        position:absolute;
        right:20px;
    }
</style>