﻿
@{
    ViewBag.Title = "AuctionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BidMee.Web.ViewModels.detailAuctionVM
@{var Bidpricecal = (Model.HighestBidder != null) ? Model.HighestBidder.Bidprice : Model.Auction.ActualPrice;}
<div class="col-lg-12">

    <div class="card mt-4">
        <!-- Slider.............-->
        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.PictureUrls.Count; i++)
                {
                     var activeclass = (i == 0) ? "active" : "";
                    <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@activeclass"></li>
                }
            </ol>
            <div class="carousel-inner" role="listbox">
                @for (int i = 0; i < Model.PictureUrls.Count; i++)
                {
                    var activepicclass = (i == 0) ? "active" : "";
                    <div class="carousel-item @activepicclass">
                        <img class="d-block img-fluid" style="max-height:560px" src="~/Content/Images/@Model.PictureUrls[i].URL" alt="Image Not Loaded" >
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- End Slider.............-->
        <div class="card-body">
            <h3 class="card-title">@Model.Auction.Title</h3>
            <h4>$@Model.Auction.ActualPrice</h4>
            <p class="card-text">@Model.Auction.ShortDiscription</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
            @if (Model.HighestBidder != null)
            {
                <div>
                    <p>Highest Bidder</p>
                    <p>User: @Model.HighestBidder.User.Email, BidRate: @Model.HighestBidder.Bidprice </p>
                </div>
            }
        </div>
        <div class="card-footer">
            @if (User.Identity.IsAuthenticated)
            {
                <button type="button" data-value="@Bidpricecal " id="bidNowbtn" class="btn btn-info">Bid Now</button>
            }
            else
            {
                <p>Login to Bid on this Auction</p>
            }
        </div>
    </div>
    <!-- /.card -->
    <!--Auction Reviews ...........................-->

    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Product Reviews
        </div>
        @if (Model.Comments != null && Model.Comments.Count != 0)
        {
            foreach (var comment in Model.Comments)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" height="60px" width="60px" />
                                <p class="font-weight-light" style="font-size:smaller">@comment.TimeStamp</p>
                            </div>
                            <div class="col-md-10">
                                <p>
                                    <a class="float-left" href="#"><strong>@comment.User.Email</strong></a>
                                    @{
                                        var defaultstars = 5 - comment.Ratings;
                                    }
                                    @for (int i = 0; i < comment.Ratings; i++)
                                    {
                                        <span class="float-right"><i class="text-warning fas fa-star"></i></span>
                                    }
                                    @for (int i = 0; i < defaultstars; i++)
                                    {
                                        <span class="float-right"><i class="text-warning far fa-star"></i></span>
                                    }

                                </p>
                                <div class="clearfix"></div>
                                <p>@comment.Text</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-secondary text-center">no Reviews on this Auction Yet!</p>
        }


    </div>

    <!--User ReviewForm     .....................-->

    <div class="card">
        <div class="card-header">
            <p class="card-title">Add Your Review!</p>
        </div>
        <div class="card-body">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="review-stars float-right">
                    <i class="rate-star text-warning far fa-star" data-value="1"></i>
                    <i class="rate-star text-warning far fa-star" data-value="2"></i>
                    <i class="rate-star text-warning far fa-star" data-value="3"></i>
                    <i class="rate-star text-warning far fa-star" data-value="4"></i>
                    <i class="rate-star text-warning far fa-star" data-value="5"></i>
                </div>
                <div>
                    <form id="commentForm">
                        <input hidden name="EntityID" value="@Model.EntityType" />
                        <input hidden name="RecordID" value="@Model.Auction.ID" />
                        <div class="form-group">
                            <input hidden name="Ratings" value="1" id="ratingInput" />
                            <textarea class="form-control" placeholder="Enter Your Review!" name="Text" rows="3" width="100%"></textarea>
                        </div>
                        <button type="button" class="btn btn-success" id="addComment">Add Your Comment</button>
                    </form>
                </div>
            }
            else
            {
                <div>
                    <p>LogIn To Add Review!</p>
                </div>
            }
        </div>

    </div>


</div>

<script>
    $(document).ready(function () {
        ///Bidding Funcionality
        $("#bidNowbtn").click(function () { 
            $.ajax({
                url: "/Auctions/Bid",
                type: "Post",
                data: {
                    auctionID:@Model.Auction.ID, bidPrice : @Bidpricecal
                },
                success: function (response) {

                }
            });
        });
        //EndRegion
        //Rating Functionality..
        $(".rate-star").hover(function () {
            $(".rate-star").addClass("far").removeClass("fas");
            //
            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".rate-star").addClass("fas").removeClass("far");
        });
        $(".rate-star").click(function () {
            var ratingValue = $(this).attr("data-value");
            ratingValue = (ratingValue != 0) ? ratingValue : 1;
            $("#ratingInput").val(ratingValue);
        });
        //Endregrion
        $("#addComment").click(function () {
            $.ajax({
                url: "/Auctions/PostComment",
                type:"Post",
                data: $("#commentForm").serialize(),
                success: function (response) {
                    if (response.Success) {
                        window.location.reload();
                    }
                    else {
                        swal("Error!", "error occured try again later!", "error");
                    }
                }
            });
        });

    });
</script>