﻿@model Auction
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Edit Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="editForm">
        <input type="hidden" readonly name="ID" value="@Model.ID" />
        <div class="form-group">
            <input type="text" class="form-control custom" name="Title" value="@Model.Title" placeholder="Enter Title" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" name="ActualPrice" value="@Model.ActualPrice" placeholder="Enter Price" />
        </div>
        <div class="form-group">
            <label style="display:block">Start Date {mm:dd:yyy:time}</label>
            <input type="text" class="form-control custom"  name="StartDate"  value="@Model.StartDate" placeholder="Add Start Date" />
        </div>
        <div class="form-group">
            <label style="display:block">End Date {mm:dd:yyy:time}</label>
            <input type="text" class="form-control custom" name="EndDate" value="@Model.EndDate"  placeholder="Add End Date" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control custom" name="ShortDiscription" value="@Model.ShortDiscription" placeholder="Short Discription" />
        </div>
        <div class="form-group">
            <textarea name="LongDiscription" class="form-control" placeholder="Long Discription">
               @Model.LongDiscription
                </textarea>
        </div>
        
    </form>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveAuctionbtn">Save</button>
</div>
<script>
    $(document).ready(function () {
        //Post
        $("#saveAuctionbtn").click(function () {
            $('#exampleModal').modal('hide');
            $.ajax({
                url: "/Auctions/EditAuction",
                type: "Post",
                data: $("#editForm").serialize(),
                success: function (response) {
                    $('#exampleModal').modal('hide');
                    $("#auctionTable").html(response);
                }
            });
        });
    });
</script>
<style>
    .custom {
        max-width: unset;
    }

    label {
        margin: 0px;
    }

    textarea {
        width: 100%;
    }
</style>
